<div class="flex flex-col h-screen bg-teal-100">
    <header class="flex justify-between bg-white shadow-sm p-4 rounded-md">
      <img class="h-10 w-15" src="./assets/logo.png" alt="" />
  
      <button
        class="bg-white text-primaryBlue font-poppins font-bold px-4 py-2 rounded-md hover:bg-gray-200 flex items-center"
        (click)="onLogout()"
      >
        <img class="h-5 w-5 mr-3" src="./assets/icons/logout.png" />
        <span>Se déconnecter</span>
      </button>
    </header>
    <div class="flex justify-center mt-4 mb-3">
      <h1 class="text-primaryBlue font-poppins text-xl font-bold">
        Liste des soins à soumettre
      </h1>
    </div>
    <div class="flex flex-row justify-center">
      <div
        class="flex flex-row justify-between h-16 w-2/3 bg-white shadow-sm items-center rounded-lg mr-8"
      >
        <div class="flex-grow relative p-4">
          <input
            type="text"
            placeholder="Rechercher..."
            [(ngModel)]="searchQuery"
            class="w-full p-1 bg-slate-100 border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 placeholder:font-poppins placeholder:text-xs placeholder:pl-4"
          />
        </div>
        <button
          class="text-white p-1 rounded-md focus:outline-none"
          (click)="scanQrCode()"
        >
          <img class="size-7" src="./assets/icons/scanQr.png" />
        </button>
        <button
          class="ml-4 bg-primaryBlue text-white text-xs font-poppins px-2 py-1 rounded-md flex items-center focus:outline-none h-8 mr-5"
          (click)="onSearch()"
        >
          <i class="fas fa-search mr-2"></i>
          Search
        </button>
      </div>
    </div>
    <div class="m-7 mb-0 mt-3 overflow-y-auto custom-scrollbar">
      <app-soin-card
        *ngFor="let soin of filteredSoinList"
        [patientName]="soin.patientName"
        [gender]="soin.gender"
        [age]="soin.age"
        [patientId]="soin.patientId"
        [soinNeeded]="soin.soinNeeded"
      ></app-soin-card>
    </div>
  </div>
  