<div class="bg-[#F1FFFC] lg:flex lg:flex-col">
    <app-navbar></app-navbar>
    <div class="lg:flex lg:flex-1 p-4 gap-4">
      <!-- Consultations Section -->
      <div class="flex-1 overflow-y-auto rounded-lg px-4">
        <div class="flex items-center justify-between mb-4">
          <h2 class="text-lg font-bold text-[#10217D]">Consultations</h2>
          <!-- Ajouter Consultation Button -->
          <button
            class="bg-[#008080] text-sm text-white font-bold px-4 py-2 rounded-md flex items-center gap-2"
            (click)="toggleAddConsultationPopup()"
          >
            <img src="assets/plus.svg" alt="Add" class="h-4 w-4" />
            Ajouter Consultation
          </button>
        </div>
        <div *ngFor="let consultation of consultations" class="mb-4">
          <app-consultation-card></app-consultation-card>
        </div>
      </div>
  
      <!-- Right Section -->
      <div class="lg:w-1/3 lg:flex lg:flex-col gap-4 md:flex md:flex-row">
        <div class="rounded-lg px-4 py-2 lg:flex-none md:flex-1">
          <app-info-card></app-info-card>
        </div>
        <div class="rounded-lg px-4 py-2 lg:flex-none md:flex-1">
          <app-test-card></app-test-card>
        </div>
      </div>
    </div>
  
    <!-- Add Consultation Popup -->
    <div
      class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center"
      *ngIf="showAddConsultation"
    >
      <div class="bg-white w-[90%] max-w-lg rounded-lg p-6">
        <h2 class="text-xl text-center font-bold text-[#10217D] mb-4">Add Consultation</h2>
        <div class="flex items-center justify-between mb-4">
            <hr class="flex-1 border-t-[1.5px] border-[#10217D]" />
            <h3 class="ml-4 text-[#10217D] font-medium">Résumé</h3>
          </div>
        <div class="mb-4">
          <textarea
            class="w-full border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-[#10217D] h-40 bg-gray-300 p-2"
            rows="3"
          ></textarea>
        </div>
        <div class="flex gap-4 mb-4">
          <div class="flex-1">
            <label class="block text-sm font-medium text-[#10217D] mb-1">Responsible doctor:</label>
            <input
              type="text"
              class="w-full border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-[#10217D] bg-gray-300 p-2"
            />
          </div>
          <div class="flex-1">
            <label class="block text-sm font-medium text-[#10217D] mb-1">Hopital:</label>
            <input
              type="text"
              class="w-full border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-[#10217D] bg-gray-300 p-2"
            />
          </div>
        </div>
        <div class="flex justify-end gap-4">
          <button
            class="bg-white text-[#008080] border-[1.5px] border-[#008080] px-4 py-2 rounded-md flex items-center gap-2"
            (click)="addConsultation()"
          >
            <img src="assets/check.svg" alt="Add" class="h-4 w-4" />
            Ajouter
          </button>
          <button
            class="bg-white text-[#FF7373] border-[1.5px] border-[#FF7373] px-4 py-2 rounded-md flex items-center gap-2"
            (click)="toggleAddConsultationPopup()"
          >
            <img src="assets/cross.svg" alt="Cancel" class="h-4 w-4" />
            Annuler
          </button>
        </div>
      </div>
    </div>
  </div>
  <router-outlet />
  