<div
  [class]="
    showGraph
      ? 'fixed flex-row justify-between inset-0 flex bg-black bg-opacity-50 z-50 overflow-y-auto'
      : 'fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50 overflow-y-auto'
  "
>
  <div
    [class]="
      showGraph
        ? 'flex justify-between gap-3 w-full max-w-5xl mx-auto p-6'
        : 'bg-white p-6 rounded-lg max-w-3xl w-full mx-4 sm:mx-auto'
    "
    class="rounded-lg max-h-full"
  >
    
    <div [class]="showGraph ? 'w-2/3 max-h-full p-4 bg-white rounded-lg shadow' : 'max-h-full bg-white'">
      <h1
        class="text-lg text-center font-poppins text-primaryBlue font-bold mb-2"
      >
        Saisir les informations sur le test
      </h1>
      <div class="flex flex-row items-center mb-1 space-x-2">
        <h1 class="font-poppins font-bold text-sm text-primaryBlue">
          Informations
        </h1>
        <div class="flex-grow border-t-2 border-primaryBlue"></div>
      </div>
      <div
        class="flex sm:flex-row flex-col justify-around bg-white rounded-lg pt-4 pb-0 gap-5"
      >
        <div class="flex flex-col justify-start">
          <p class="font-bold font-poppins text-primaryBlue text-xs">
            Nom Complet:
          </p>
          <p class="text-gray-500 mt-1 font-poppins text-xs">
            {{ patientName }}
          </p>
        </div>
        <div class="flex flex-col justify-start">
          <p class="text-xs font-bold font-poppins text-primaryBlue">Sexe:</p>
          <p class="text-gray-500 mt-1 font-poppins text-xs">{{ gender }}</p>
        </div>
        <div class="flex flex-col justify-start">
          <p class="text-xs font-bold font-poppins text-primaryBlue">Age:</p>
          <p class="text-gray-500 mt-1 font-poppins text-xs">{{ age }}</p>
        </div>
        <div class="flex flex-col justify-start">
          <p class="text-xs font-bold font-poppins text-primaryBlue">
            Identificateur:
          </p>
          <p class="text-gray-500 mt-1 font-poppins text-xs">{{ testId }}</p>
        </div>
        <div class="flex flex-col justify-start">
          <p class="text-xs font-bold font-poppins text-primaryBlue">
            tests à soumettre:
          </p>
          <p
            class="text-white w-fit px-3 mt-1 font-poppins text-xs font-semibold mb-4 text-center rounded-sm py-0.5 bg-[#0F766E]"
          >
            {{ testsNeeded }}
          </p>
        </div>
      </div>
      <form (ngSubmit)="onSubmit()" #testForm="ngForm">
        
        <div class="flex flex-row items-center mb-3 space-x-2">
          <h1 class="font-poppins font-bold text-sm text-primaryBlue">
            Compte rendu
          </h1>
          <div class="flex-grow border-t-2 border-primaryBlue"></div>
        </div>
        <input
          type="text"
          [(ngModel)]="report"
          name="report"
          placeholder="Compte rendu"
          class="w-full h-20 mb-4 p-2 rounded bg-slate-200 placeholder:font-poppins placeholder:text-xs placeholder:text-start"
        />
        <div class="flex flex-row items-center mb-1 space-x-2">
          <h1 class="font-poppins font-bold text-sm text-primaryBlue">
            Resultats
          </h1>
          <div class="flex-grow border-t-2 border-primaryBlue"></div>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-4">
          <div *ngIf= "param1[0]" class="flex items-center pl-2">
            <span class="text-teal-600 w-24 font-semibold font-poppins">Glucose:</span>
            <div class="relative flex items-center">
              <input
                type="number"
                [(ngModel)]="results.glucose"
                class="w-24 h-8 px-2 border rounded bg-gray-50"
                (input)="onInputChange('param1[2]', $event)"
                placeholder="00.00"
              />
              <span class="ml-2 text-gray-600">mg/l</span>
            </div>
          </div>

          <!-- CRP -->
          <div class="flex items-center">
            <span class="text-teal-600 font-semibold font-poppins w-24 mr-1">CRP:</span>
            <div class="relative flex items-center">
              <input
                type="number"
                [(ngModel)]="results.crp"
                class="w-24 h-8 px-2 border rounded bg-gray-50"
                placeholder="00.00"
                 (input)="onInputChange('param2[2]', $event)"
              />
              <span class="ml-2 text-gray-600">mg/l</span>
            </div>
          </div>

          <!-- Creatinine -->
          <div class="flex items-center pl-2">
            <span class="text-teal-600 font-semibold font-poppins w-24">Créatinine:</span>
            <div class="relative flex items-center">
              <input
                type="number"
                [(ngModel)]="results.creatinine"
                class="w-24 h-8 px-2 border rounded bg-gray-50"
                placeholder="00.00"
                 (input)="onInputChange('param3[2]', $event)"
              />
              <span class="ml-2 text-gray-600">mg/l</span>
            </div>
          </div>

          <!-- Cholesterol -->
          <div class="flex items-center">
            <span class="text-teal-600 font-semibold font-poppins w-24 mr-1">Cholesterol:</span>
            <div class="relative flex items-center">
              <input
                type="number"
                [(ngModel)]="results.cholesterol"
                class="w-24 h-8 px-2 border rounded bg-gray-50"
                placeholder="00.00"
                 (input)="onInputChange('param4[2]', $event)"
              />
              <span class="ml-2 text-gray-600">mg/l</span>
            </div>
          </div>

          <!-- Sodium -->
          <div class="flex items-center pl-2">
            <span class="text-teal-600 font-semibold font-poppins w-24">Sodium:</span>
            <div class="relative flex items-center">
              <input
                type="number"
                [(ngModel)]="results.sodium"
                class="w-24 h-8 px-2 border rounded bg-gray-50"
                placeholder="00.00"
                 (input)="onInputChange('param5[2]', $event)"
              />
              <span class="ml-2 text-gray-600">mg/l</span>
            </div>
          </div>

          <!-- Potassium -->
          <div class="flex items-center">
            <span class="text-teal-600 font-semibold font-poppins w-24 mr-1">Potassium:</span>
            <div class="relative flex items-center">
              <input
                type="number"
                [(ngModel)]="results.potassium"
                class="w-24 h-8 px-2 border rounded bg-gray-50"
                placeholder="00.00"
                 (input)="onInputChange('param6[2]', $event)"
              />
              <span class="ml-2 text-gray-600">mg/l</span>
            </div>
          </div>
        </div>
        <div class="flex flex-row sm:justify-end gap-6 mt-3 -space-x-4">
          <button
            type="button"
            (click)="onGenerateGraph()"
            class="sm:px-4 sm:py-2 px-5 font-semibold font-poppins text-white transition-all duration-300 sm:text-sm text-xs bg-[#1E40AF] border-2 border-[#1E40AF] items-center flex rounded-md hover:bg-blue-800 focus:outline-none focus:ring-0"
          >
            Generer graphe
          </button>
          <button
            type="submit"
            class="sm:px-4 sm:py-2 px-5 font-semibold font-poppins text-[#0F766E] transition-all duration-300 sm:text-sm text-xs bg-white border-2 border-[#0F766E] items-center flex rounded-md hover:bg-primaryBlue-dark focus:outline-none focus:ring-0"
          >
            Confirmer et ajouter
          </button>
          <button
            (click)="onReset()"
            type="reset"
            class="sm:px-4 sm:py-2 px-5 font-semibold font-poppins text-[#F87171] transition-all duration-300 sm:text-sm text-xs bg-white border-2 border-[#F87171] rounded-md hover:bg-primaryBlue-dark items-center flex focus:outline-none focus:ring-0"
          >
            Annuler
          </button>
        </div>
      </form>
    </div>
    <div
      *ngIf="showGraph"
      class="w-1/3 p-4 h-full bg-white rounded-lg flex flex-col justify-center"
    >
      <div class="flex justify-between items-center mb-4">
        <h2 class="text-lg font-bold text-primaryBlue">Results Graph</h2>
        <button
          (click)="closeGraph()"
          class="text-gray-500 hover:text-gray-700 text-2xl"
        >
          ×
        </button>
      </div>
      <div class="h-full w-full">
        <canvas
        class="w-full h-[400px]"
          baseChart
          [data]="chartData"
          [type]="'bar'"
          [options]="chartOptions"
        ></canvas>
      </div>
    </div>
  </div>
</div>
