<div class="max-w-sm mx-auto bg-white rounded-lg px-4 py-2 relative">
    <h3 class="font-semibold text-[#10217D]">Tests</h3>
    <div class="flex-1 p-4 overflow-y-auto">
        <div *ngFor="let item of listItems" class="flex justify-between items-center mb-2">
          <div class="flex items-center gap-2 border-[1.5px] border-[#1BA9B5] rounded-md p-2 w-full">
            <img src="assets/bullet.svg" alt="Time" class="h-2 w-2" />
            <span class="list-disc text-[#10217D]">{{item}}</span>
          </div>
          <!-- Bouton "Open" -->
          <button 
            class="bg-[#10217D] text-sm text-white font-bold rounded-md ml-2 px-4 py-2 shrink-0"
          >
            Open
          </button>
        </div>
      </div>
    </div>
<router-outlet />