<div class="max-w-sm mx-auto bg-white rounded-lg px-4 py-2 relative">
  <h3 class="text-center font-semibold text-[#10217D]">Informations Personnelles</h3>
  <div class="mt-4 space-y-2">
    <div class="flex justify-between items-center">
      <div class="flex items-center gap-2">
        <span class="text-gray-800 font-medium text-sm">Nom et Prénom:</span>
        <span class="text-gray-600 text-sm">{{ patient.first_name }}</span>
      </div>
      <div class="flex items-center gap-2">
        <span class="text-gray-800 font-medium text-sm">Age:</span>
        <span class="text-gray-600 text-sm">{{ patient.last_name }}</span>
      </div>
    </div>
    <div class="flex justify-between items-center">
      <div class="flex items-center gap-2">
        <span class="text-gray-800 font-medium text-sm">Genre:</span>
        <span class="text-gray-600 text-sm">{{ patient.gender }}</span>
      </div>
    </div>
  </div>
  <div class="flex mt-2">
    <div class="flex-1 space-y-2">
      <div class="flex items-center gap-2">
        <img src="assets/numero.svg" alt="Social Number Icon" class="h-4 w-4">
        <div>
          <span class="text-gray-800 font-medium text-sm">Numéro social:</span>
          <p class="text-gray-600 text-sm">{{ patient.social_security_number }}</p>
        </div>
      </div>
      <div class="flex items-center gap-2">
        <img src="assets/phone.svg" alt="Phone Icon" class="h-4 w-4">
        <div>
          <span class="text-gray-800 font-medium text-sm">Téléphone:</span>
          <p class="text-gray-600 text-sm">{{ patient.phone }}</p>
        </div>
      </div>
      <div class="flex items-center gap-2">
        <img src="assets/email.svg" alt="Email Icon" class="h-4 w-4">
        <div>
          <span class="text-gray-800 font-medium text-sm">E-mail:</span>
          <p class="text-gray-600 text-sm">{{ patient.email }}</p>
        </div>
      </div>
    </div>
    <div class="mt-4" >
      <img *ngIf="qrCodeUrl" [src]="qrCodeUrl" alt="QR Code" />
    </div>
    </div>
  </div>
  <router-outlet />  