<div class="max-w-sm mx-auto bg-white rounded-lg px-4 py-2 relative">
    <!-- Title -->
    <h3 class="text-center font-semibold text-[#10217D]">Informations Personnelles</h3>
  
    <!-- Patient Info -->
    <div class="mt-4 space-y-2">
      <!-- Full Name and Age -->
      <div class="flex justify-between items-center">
        <div class="flex items-center gap-2">
          <span class="text-gray-800 font-medium text-sm">Full Name:</span>
          <span class="text-gray-600 text-sm">John Doe</span>
        </div>
  
        <div class="flex items-center gap-2">
          <span class="text-gray-800 font-medium text-sm">Age:</span>
          <span class="text-gray-600 text-sm">35</span>

        </div>
      </div>
  
      <!-- Patient ID and Gender -->
      <div class="flex justify-between items-center">
        <div class="flex items-center gap-2">
          <span class="text-gray-800 font-medium text-sm">Patient ID:</span>
          <span class="text-gray-600 text-sm">123456789</span>
        </div>
  
        <div class="flex items-center gap-2">
          <span class="text-gray-800 font-medium text-sm">Gender:</span>
          <span class="text-gray-600 text-sm">Male</span>
        </div>
      </div>
    </div>
  
    <!-- Social Information and QR Code -->
    <div class="flex mt-2">
      <!-- Social Info -->
      <div class="flex-1 space-y-2">
        <!-- Social Number -->
        <div class="flex items-center gap-2">
          <img src="assets/numero.svg" alt="Social Number" class="h-4 w-4">
          <div>
            <span class="text-gray-800 font-medium text-sm">Social Number:</span>
            <p class="text-gray-600 text-sm">SN123456789</p>
          </div>
        </div>
  
        <!-- Phone -->
        <div class="flex items-center gap-2">
          <img src="assets/phone.svg" alt="Phone" class="h-4 w-4">
          <div>
            <span class="text-gray-800 font-medium text-sm">Phone:</span>
            <p class="text-gray-600 text-sm">+123 456 7890</p>
          </div>
        </div>
  
        <!-- Email -->
        <div class="flex items-center gap-2">
          <img src="assets/email.svg" alt="Email" class="h-4 w-4">
          <div>
            <span class="text-gray-800 font-medium text-sm">Email:</span>
            <p class="text-gray-600 text-sm">john.doe</p>
          </div>
        </div>
      </div>
  
      <!-- QR Code -->
      <div class=" mt-2 shrink-0">
        <img src="assets/qr.svg" alt="QR Code" class="h-25 w-auto">
      </div>
    </div>
  </div>
  <router-outlet />  