<div class="bg-teal-50">
  <header class="flex justify-between bg-white p-4 rounded-md shadow-sm">
    <img class="h-10 w-15" src="./assets/logo.png" alt="" />

    <button
      class="bg-white text-primaryBlue font-poppins font-bold px-4 py-2 rounded-md hover:bg-gray-200  flex items-center"
      (click)="onLogout()"
    >
      <img class="h-5 w-5 mr-3" src="./assets/icons/logout.png" />
      <span>Se déconnecter</span>
    </button>
  </header>
  <div class="flex flex-col md:flex-col lg:flex-row gap-7 px-20 sm:px-32 py-10">
    <div class="sm:flex-1 lg:w-100 relative bg-white p-10 rounded-lg shadow-lg">
      <h1
        class="text-lg text-center font-poppins text-primaryBlue font-bold mb-3"
      >
        Créer un nouveau DPI
      </h1>
      <form id="form" novalidate>
        <div class="flex flex-row items-center mb-3 space-x-2">
          <h1 class="font-poppins font-bold text-sm text-primaryBlue">
            Informations generales
          </h1>
          <div class="flex-grow border-t-2 border-primaryBlue"></div>
        </div>
        <div class="sm:grid sm:grid-cols-2 flex-col gap-4 mb-3">
          <div class="relative z-0 w-full">
            <h1
              class="font-semibold text-xs font-poppins text-primaryBlue pl-3"
            >
              Nom:
            </h1>
            <input
              type="text"
              name="nom"
              placeholder="Nom"
              class="w-full py-1 pl-3 mt-0 rounded appearance-none focus:outline-none focus:ring-0 focus:bg-gray-100 bg-slate-200 placeholder:text-xs placeholder:font-poppins"
            />

            <span class="text-xs font-poppins text-red-600 hidden" id="error"
              >Le champ nom est réquis</span
            >
          </div>
          <div class="relative z-0 w-full">
            <h1
              class="font-semibold text-xs pl-3 font-poppins text-primaryBlue"
            >
              Prénom:
            </h1>
            <input
              type="text"
              name="prénom"
              placeholder="Prénom"
              class="w-full py-1 pl-3 mt-0 rounded appearance-none focus:outline-none focus:ring-0 focus:bg-gray-100 bg-slate-200 placeholder:text-xs placeholder:font-poppins"
            />

            <span class="text-sm text-red-600 hidden" id="error"
              >Le champ prénom est réquis</span
            >
          </div>
        </div>
        <div class="sm:grid sm:grid-cols-2 flex-col gap-4 mb-3">
          <div class="relative z-0 w-full">
            <h1
              class="font-semibold text-xs font-poppins pl-3 text-primaryBlue"
            >
              Date de naissance:
            </h1>
            <input
              type="text"
              name="datenaissance"
              placeholder="Date de naissance"
              class="py-1 w-full pl-3 mt-0 rounded appearance-none focus:outline-none focus:ring-0 focus:bg-gray-100 bg-slate-200 placeholder:text-xs placeholder:font-poppins"
              onclick="this.setAttribute('type', 'date');"
            />

            <span class="text-sm text-red-600 hidden" id="error"
              >Date de naissance est réquis</span
            >
          </div>

          <div class="relative z-0 w-full">
            <h1
              class="font-semibold font-poppins text-primaryBlue text-xs pl-3"
            >
              Sexe:
            </h1>
            <select
              name="sexe"
              placeholder="Sexe"
              class="py-1 pb-1.5 w-full pl-3 mt-0 rounded h-fit focus:outline-none focus:ring-0 border-2 border-primaryBlue text-gray-400 text-xs focus:bg-gray-100 bg-white placeholder:text-xs placeholder:font-poppins"
            >
              <option
               
                value=""
                selected
                disabled
                hidden
              >Sélectionner</option>
              <option value="male">Masculin</option>
              <option value="female">Féminin</option>
              <option value="other">Autre</option>
            </select>
            <span class="text-sm text-red-600 hidden" id="error"
              >Le sexe est requis</span
            >
          </div>
        </div>
        <div class="relative z-0 w-full mb-3">
          <h1 class="font-semibold text-xs pl-3 font-poppins text-primaryBlue">
            Numéro de sécurité sociale:
          </h1>
          <input
            type="text"
            name="nss"
            placeholder="Numéro de sécurite sociale"
            class="py-1 w-full pl-3 mt-0 rounded appearance-none focus:outline-none focus:ring-0 focus:bg-gray-100 bg-slate-200 placeholder:text-xs placeholder:font-poppins"
          />

          <span class="text-sm text-red-600 hidden" id="error"
            >le NSS est réquis</span
          >
        </div>
        <div class="sm:grid sm:grid-cols-2 flex-col gap-4 mb-3">
          <div class="relative z-0 w-full">
            <h1
              class="font-semibold text-xs font-poppins pl-3 text-primaryBlue"
            >
              Nom de l'hopital:
            </h1>
            <input
              type="text"
              name="nom-hopital"
              placeholder="Nom de l'hopital"
              class="py-1 w-full pl-3 mt-0 rounded appearance-none focus:outline-none focus:ring-0 focus:bg-gray-100 bg-slate-200 placeholder:text-xs placeholder:font-poppins"
            />

            <span class="text-sm text-red-600 hidden" id="error"
              >champ réquis</span
            >
          </div>

          <div class="relative z-0 w-full">
            <h1
              class="font-semibold text-xs font-poppins pl-3 text-primaryBlue"
            >
              Type sanguin :
            </h1>
            <select
              name="blood-type"
              class="py-1 pb-1.5 w-full pl-3 mt-0 rounded h-fit focus:outline-none focus:ring-0 border-2 border-primaryBlue text-gray-400 text-xs focus:bg-gray-100 bg-white placeholder:text-xs placeholder:font-poppins"
            >
              <option
                value=""
                class="text-xs font-poppins text-gray-400"
                selected
                disabled
                hidden
              >
                Choisissez un type sanguin
              </option>
              <option value="O+">O+</option>
              <option value="O-">O-</option>
              <option value="A+">A+</option>
              <option value="A-">A-</option>
              <option value="B+">B+</option>
              <option value="B-">B-</option>
              <option value="AB+">AB+</option>
              <option value="AB-">AB-</option>
            </select>
            <span class="text-sm text-red-600 hidden" id="error">
              Le type sanguin est requis.
            </span>
          </div>
        </div>
        <div class="flex flex-row items-center mb-3 mt-4 space-x-2">
          <h1 class="font-poppins font-bold text-sm text-primaryBlue">
            Contact et connexion
          </h1>
          <div class="flex-grow border-t-2 border-primaryBlue"></div>
        </div>
        <div class="sm:grid sm:grid-cols-2 flex-col gap-4 mb-3">
          <div class="relative z-0 w-full">
            <h1
              class="font-semibold pl-3 text-xs font-poppins text-primaryBlue"
            >
              Adresse:
            </h1>
            <input
              type="text"
              name="adresse"
              placeholder="Adresse"
              class="py-1 w-full pl-3 mt-0 rounded appearance-none focus:outline-none focus:ring-0 focus:bg-gray-100 bg-slate-200 placeholder:text-xs placeholder:font-poppins"
            />

            <span class="text-sm text-red-600 hidden" id="error"
              >Champ Adresse réquis</span
            >
          </div>

          <div class="relative z-0 w-full">
            <h1
              class="font-semibold pl-3 font-poppins text-primaryBlue text-xs"
            >
              Docteur administré:
            </h1>
            <select
              name="doctor"
              class="py-1 pb-1.5 w-full pl-3 mt-0 rounded focus:outline-none focus:ring-0 border-primaryBlue border-2 focus:bg-gray-100 bg-white text-xs text-gray-400 placeholder:text-xs placeholder:font-poppins"
            >
              <option value="" selected disabled hidden>Sélectionner</option>
              <option value="male">Masculin</option>
              <option value="female">Féminin</option>
              <option value="other">Autre</option>
            </select>
            <span class="text-sm text-red-600 hidden" id="error"
              >Champ réquis</span
            >
          </div>
        </div>
        <div class="sm:grid sm:grid-cols-2 flex-col gap-4 mb-3">
          <div class="relative z-0 w-full">
            <h1
              class="font-semibold pl-3 font-poppins text-primaryBlue text-xs"
            >
              Numéro de téléphone:
            </h1>
            <input
              type="text"
              name="num-tel"
              placeholder="Numéro de téléphone"
              class="py-1 w-full pl-3 mt-0 rounded appearance-none focus:outline-none focus:ring-0 focus:bg-gray-100 bg-slate-200 placeholder:text-xs placeholder:font-poppins"
            />

            <span class="text-sm text-red-600 hidden" id="error"
              >numero de tel réquis</span
            >
          </div>
          <div class="relative z-0 w-full">
            <h1
              class="font-semibold pl-3 font-poppins text-primaryBlue text-xs"
            >
              E-mail:
            </h1>
            <input
              type="text"
              name="email"
              placeholder="E-mail"
              class="py-1 w-full pl-3 mt-0 rounded appearance-none focus:outline-none focus:ring-0 focus:bg-gray-100 bg-slate-200 placeholder:text-xs placeholder:font-poppins"
            />

            <span class="text-sm text-red-600 hidden" id="error">required</span>
          </div>
        </div>
        <div class="sm:grid sm:grid-cols-2 flex-col gap-4 mb-3">
          <div class="relative z-0 w-full">
            <h1
              class="font-semibold pl-3 text-xs font-poppins text-primaryBlue"
            >
              Mot de passe:
            </h1>
            <input
              type="password"
              name="mdp"
              placeholder="Mot de passe"
              class="py-1 w-full pl-3 mt-0 rounded appearance-none focus:outline-none focus:ring-0 focus:bg-gray-100 bg-slate-200 placeholder:text-xs placeholder:font-poppins"
            />

            <span class="text-sm text-red-600 hidden" id="error">required</span>
          </div>
          <div class="relative z-0 w-full">
            <h1
              class="font-semibold font-poppins pl-3 text-primaryBlue text-xs"
            >
              Confirmer le mot de passe:
            </h1>
            <input
              type="password"
              name="date"
              placeholder="Confirmer:"
              class="py-1 w-full pl-3 mt-0 rounded appearance-none focus:outline-none focus:ring-0 focus:bg-gray-100 bg-slate-200 placeholder:text-xs placeholder:font-poppins"
            />

            <span class="text-sm text-red-600 hidden" id="error">required</span>
          </div>
        </div>
      </form>
    </div>
    <div class="flex flex-col">
      <div class="w-50 sm:w-full h-fit bg-white p-6 rounded-lg shadow-sm">
        <form id="form-2" novalidate>
          <div class="flex flex-row items-center mb-3 mt-3 space-x-2">
            <h1 class="font-poppins font-bold text-sm text-primaryBlue">
              Informations d'urgence
            </h1>
            <div class="flex-grow border-t-2 border-primaryBlue"></div>
          </div>
          <div class="relative z-0 w-full mb-3">
            <h1
              class="font-semibold font-poppins pl-3 text-primaryBlue text-xs"
            >
              Nom du contact:
            </h1>
            <input
              type="text"
              name="contact-urgence"
              placeholder="Nom complet"
              class="w-full py-1 pl-3 mt-0 rounded appearance-none focus:outline-none focus:ring-0 focus:bg-gray-100 bg-slate-200 placeholder:text-xs placeholder:font-poppins"
            />
            <span class="text-sm text-red-600 hidden" id="error"
              >Champ requis</span
            >
          </div>
          <div class="relative z-0 w-full mb-3">
            <h1
              class="font-semibold text-xs font-poppins pl-3 text-primaryBlue"
            >
              Numéro de télephone:
            </h1>
            <input
              type="text"
              name="numtel-urgence"
              placeholder="Numéro de téléphone"
              class="w-full py-1 pl-3 mt-0 rounded appearance-none focus:outline-none focus:ring-0 focus:bg-gray-100 bg-slate-200 placeholder:text-xs placeholder:font-poppins"
            />
            <span class="text-sm text-red-600 hidden" id="error"
              >Champ requis</span
            >
          </div>
          <div class="relative z-0 w-full mb-4">
            <h1
              class="font-semibold text-xs font-poppins pl-3 text-primaryBlue"
            >
              Relation:
            </h1>
            <input
              type="text"
              name="relation"
              placeholder="Relation"
              class="w-full py-1 pl-3 mt-0 rounded appearance-none focus:outline-none focus:ring-0 focus:bg-gray-100 bg-slate-200 placeholder:text-xs placeholder:font-poppins"
            />
            <span class="text-sm text-red-600 hidden" id="error"
              >Champ requis</span
            >
          </div>
          <div class="flex flex-row items-center mb-3 space-x-2">
            <h1 class="font-poppins font-bold text-sm text-primaryBlue">
              Informations mutuelles
            </h1>
            <div class="flex-grow border-t-2 border-primaryBlue"></div>
          </div>
          <div class="relative z-0 w-full mb-3">
            <h1
              class="font-semibold text-xs font-poppins text-primaryBlue pl-3"
            >
              Nom:
            </h1>
            <input
              type="text"
              name="nom"
              placeholder="Nom"
              class="w-full py-1 pl-3 mt-0 rounded appearance-none focus:outline-none focus:ring-0 focus:bg-gray-100 bg-slate-200 placeholder:text-xs placeholder:font-poppins"
            />

            <span class="text-xs font-poppins text-red-600 hidden" id="error"
              >Le champ nom est réquis</span
            >
          </div>
          <div class="relative z-0 w-full mb-3">
            <h1
              class="font-semibold text-xs font-poppins text-primaryBlue pl-3"
            >
              Numéro de contrat:
            </h1>
            <input
              type="text"
              name="policy-number"
              placeholder="Numéro de contrat"
              class="w-full py-1 pl-3 mt-0 rounded appearance-none focus:outline-none focus:ring-0 focus:bg-gray-100 bg-slate-200 placeholder:text-xs placeholder:font-poppins"
            />

            <span class="text-xs font-poppins text-red-600 hidden" id="error"
              >Le champ nom est réquis</span
            >
          </div>
          <div class="relative z-0 w-full mb-3">
            <h1
              class="font-semibold text-xs font-poppins text-primaryBlue pl-3"
            >
              Antécédants médicaux:
            </h1>
            <input
              type="text"
              name="medical-history"
              placeholder="Antécédants médicaux"
              class="w-full py-1 pl-3 mt-0 rounded appearance-none focus:outline-none focus:ring-0 focus:bg-gray-100 bg-slate-200 placeholder:text-xs placeholder:font-poppins"
            />

            <span class="text-xs font-poppins text-red-600 hidden" id="error"
              >Le champ nom est réquis</span
            >
          </div>
        </form>
      </div>
      <div class="flex flex-row sm:justify-center gap-6 mt-7 -space-x-4">
        <button
          class=" sm:px-4 sm:py-2 px-5 font-semibold font-poppins text-[#0F766E] transition-all duration-300 sm:text-sm text-xs bg-white border-2 border-[#0F766E] items-center flex rounded-md hover:bg-primaryBlue-dark focus:outline-none focus:ring-0"
          type="submit"
        >
        <img class="sm:h-5 sm:w-6 size-3 mr-3" src="./assets/icons/save.png" />
          <span>Confirmer et ajouter</span>
        </button>
        <button
          class=" sm:px-4 sm:py-2 px-5 font-semibold font-poppins text-[#F87171] transition-all duration-300 sm:text-sm text-xs bg-white border-2 border-[#F87171] rounded-md hover:bg-primaryBlue-dark items-center flex focus:outline-none focus:ring-0"
          type="reset"
        >
       
        <img class="sm:h-5 sm:w-5 size-3 mr-3" src="./assets/icons/cancel.png" />
          Annuler
        </button>
      </div>
    </div>
  </div>
</div>
