<div class="bg-[#F1FFFC] min-h-screen lg:flex lg:flex-col">
  <app-navbar></app-navbar>
  <div class="p-6">
    <div class="flex items-center justify-between mb-6 relative">
      <div class="absolute left-0 w-8 h-8 flex items-center justify-center bg-white shadow-md rounded" (click)="goBack()">
        <img src="assets/arrow.svg" alt="Back Arrow" class="h-4 w-4" />
      </div>
      <h1 class="text-2xl font-bold text-[#10217D] mx-auto">Consultation</h1>
    </div>
    <div class="flex flex-wrap gap-4">
      <div class="flex-1 bg-white rounded-lg shadow-md p-6">
        <h2 class="text-xl font-semibold text-[#10217D] mb-4">Visite Ordinaire</h2>
        <div class="flex flex-wrap lg:flex-nowrap gap-4">
          <div class="flex-1">
              <div class="flex items-center text-sm text-gray-700 mb-6">
                  <div class="flex items-center gap-2 mr-4">
                    <img src="assets/hopital.svg" alt="Hospital Icon" class="h-4 w-4" />
                    <span>CHU</span>
                  </div>
                  <div class="flex items-center gap-2 mr-4">
                    <img src="assets/dr.svg" alt="Doctor Icon" class="h-4 w-4" />
                    <span>{{ consult?.doctor.name}}</span>
                  </div>
                  <div class="flex items-center gap-2 mr-4">
                    <img src="assets/date.svg" alt="Date Icon" class="h-4 w-4" />
                    <span>{{ consult?.consultation_date | date }}</span>
                  </div>
                  <div class="flex items-center gap-2">
                    <img src="assets/hour.svg" alt="Time Icon" class="h-4 w-4" />
                    <span>{{ consult?.consultation_date | date: 'shortTime' }}</span>
                  </div>
                </div>
                <div class="relative border-[1.5px] border-[#10217D] rounded-lg p-4 mb-4">
                  <h3 class="absolute -top-3 left-4 bg-white px-2 font-semibold text-gray-800">Résumé</h3>
                  <p class="text-gray-600">{{ consult?.consultation_summary}}</p>
                </div>
                <div>
                  <h3 class="font-semibold text-lg text-[#10217D]">Tests et Soins</h3>
                  <div class="mt-4">
                      <div *ngFor="let item of consult?.biological_exams" class="flex justify-between items-center mb-2">
                        <div *ngIf="item.showModal" class="fixed inset-0 bg-gray-500  flex justify-center items-center z-50">
                          <div class="bg-white p-6 rounded-lg max-w-md w-full">
                            <h3 class="text-lg font-bold text-[#10217D] mb-4">Exam Result</h3>
                            <div *ngIf="item.image">
                              <img [src]="item.image" alt="Exam Image" class="mt-4 max-w-full h-auto rounded-lg">
                            </div>
                            <div *ngIf="item.parameters && item.parameters.length > 0" class="mt-4">
                              <h4 class="font-semibold text-[#10217D]">Résultats du bilan:</h4>
                              <ul class="list-disc pl-5">
                                <li *ngFor="let parameter of item.parameters">
                                  <p>{{ parameter.param_name }}: {{ parameter.value }}</p>
                                </li>
                              </ul>
                            </div>
                            <h4 class="font-semibold text-[#10217D]">Compte rendu:</h4>
                            <p>{{ item.result }}</p>
                            <button 
                              (click)="toggleModal(item)" 
                              class="mt-4 bg-[#10217D] text-white font-bold py-2 px-4 rounded">
                              Close
                            </button>
                          </div>
                        </div>
                          <div class="flex items-center gap-2 border-[1.5px] border-[#1BA9B5] rounded-md p-2 w-full">
                            <img src="assets/bullet.svg" alt="Time" class="h-2 w-2" />
                            <span class="list-disc text-[#10217D]">{{item.exam_name}}</span>
                          </div>
                          
                          <button 
                            class="bg-[#10217D] text-sm text-white font-bold rounded-md ml-2 px-4 py-2 shrink-0" (click)="toggleModal(item)">
                          
                            Open
                          </button>
                        </div>
                        <div *ngFor="let item of consult?.radiological_exams" class="flex justify-between items-center mb-2">
                          <div *ngIf="item.showModal" class="fixed inset-0 bg-gray-500  flex justify-center items-center z-50">
                            <div class="bg-white p-6 rounded-lg max-w-md w-full">
                              <h3 class="text-lg font-bold text-[#10217D] mb-4">Exam Result</h3>
                              <div *ngIf="item.image">
                                <img [src]="item.image" alt="Exam Image" class="mt-4 max-w-full h-auto rounded-lg">
                              </div>
                              <div *ngIf="item.parameters && item.parameters.length > 0" class="mt-4">
                                <h4 class="font-semibold text-[#10217D]">Résultats du bilan:</h4>
                                <ul class="list-disc pl-5">
                                  <li *ngFor="let parameter of item.parameters">
                                    <p>{{ parameter.param_name }}: {{ parameter.value }}</p>
                                  </li>
                                </ul>
                              </div>
                              <h4 class="font-semibold text-[#10217D]">Compte rendu:</h4>
                              <p>{{ item.result }}</p>
                              <button 
                                (click)="toggleModal(item)" 
                                class="mt-4 bg-[#10217D] text-white font-bold py-2 px-4 rounded">
                                Close
                              </button>
                            </div>
                          </div>
                          <div class="flex items-center gap-2 border-[1.5px] border-[#1BA9B5] rounded-md p-2 w-full">
                            <img src="assets/bullet.svg" alt="Time" class="h-2 w-2" />
                            <span class="list-disc text-[#10217D]">{{item.exam_name}}</span>
                          </div>
                          
                          <button 
                            class="bg-[#10217D] text-sm text-white font-bold rounded-md ml-2 px-4 py-2 shrink-0" (click)="toggleModal(item)">
                            Open
                          </button>
                        </div>
                        <div *ngFor="let item of consult?.nursing_records; let i = index" class="flex items-center mb-2">
                          <div class="flex items-center gap-2 border-[1.5px] border-[#1BA9B5] rounded-md p-2 w-full">
                            <img src="assets/bullet.svg" alt="Bullet Icon" class="h-2 w-2" />
                            <span class="list-disc text-[#10217D]">{{ item.care_name }}</span>
                          </div>
                        </div>
                  </div>
              </div>
          </div>
          <div class="w-full lg:w-1/3 relative rounded-lg p-4 lg:pt-11">
              <div class="flex-1 h-full relative border-[1.5px] border-[#10217D] rounded-lg p-4">
                  <h3 class="absolute -top-3 left-4 bg-white px-2 font-semibold text-gray-800">Ordonnance</h3>
                  <div *ngFor="let item of consult?.prescription?.medicines; let i = index" class="flex items-center gap-2">
                    <img src="assets/bullet.svg" alt="Bullet Icon" class="h-2 w-2" />
                    <p class="text-gray-600">{{ item?.medication_name }} - {{ item?.dosage }} - {{ item?.duration }} - {{ item?.frequency }}</p>
                  </div>
              </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
<router-outlet />
